.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 68px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab { 
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        margin-right: 10px;
        transform: skew(-20deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 15px $main-color;
            border: none;
        }
        div {
            transform: skew(20deg); 
        }
        &:nth-child(3) {
            margin-right: 0;
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
        &_third {
            justify-content: start;
            .catalog-item {
                margin: 0 20px 20px 0;
            }
        }
    }
    &-item {
        width: 300px;
        height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            display: block;
            margin: 0 auto; 
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            text-align: center;
            margin-top: 20px;
        }
        &__descr {
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
            text-align: center;
            margin-top: 16px;
        }
        &__link {
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-decoration: underline;
            margin-top: 17px;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center
        }
        &__old-price {
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-107%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            list-style-type: none;
            padding-left: 18px;
            padding-right: 20px;
            margin-bottom: 0;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0.5s all;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li:not(:last-child) {
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                line-height: normal;
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 6px;
                }
            }
        }
        &__back {
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 18px));
        }
    }
}