.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/BG/bg2.jpg') center center/cover no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: left;
        margin-top: 80px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #fff;
        border: none;
        margin-bottom: 14px;
        text-align: center;
    }
}